body {
  font: 12px sans-serif;
  text-align: center;
  margin: 0;
}

#root {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.wrap-calc {
  position: fixed;
  background: #fff;
  z-index: 10;
  height: 100%;
  visibility: hidden;
  pointer-events: none;
  direction: rtl;
}

.wrap-calc span {
  display: inline-block;
}

.editor {
  font-family: tahoma;
  flex-grow: 1;
  padding: 10px;
  font-size: 16px;
  text-align: right;
  outline: none;
  direction: rtl;
  background-color: #f7f7f7;
  position: relative;
}

.editor.empty:before {
  content: attr(data-placeholder);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  direction: ltr;
  pointer-events: none;
}

.empty-message {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 100;
  background-color: rgba(255, 255, 255, 0.9);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  pointer-events: none;
}

.hint {
  background-color: #2c2c2c;
  color: #aaaaaa;
  left: 0px;
  right: 0px;
  position: fixed;
  bottom: 0;
  text-align: left;
  padding: 8px 12px;
  border: 1px solid #c0c0c0;
  border-top: none;
  z-index: 100;
  overflow: hidden;
  max-height: 115px;
  transition: max-height 0.2s linear;
}

.hint.hidden:not(:hover) {
  max-height: 10px;
}

.hint .title {
  border-bottom: 1px solid #444444;
  margin: -8px -12px 10px;
  color: #959595;
  font-size: 12px;
  padding: 6px 12px;
}

.hint .shortcut {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 10px;
}

.hint .shortcut:first-child {
  margin-top: 0;
}

.hint .key-comb {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.hint .desc {
  font: normal 400 12px/24px Inter, Roboto, sans-serif;
}

.key {
  border: 1px solid #aaa;
  background: #2c2c2c;
  color: #aaa;
  cursor: default;
  border-radius: 2px;
  margin-left: 3px;
  font: normal 400 11px/16px Inter, sans-serif;
  padding: 1px 4px;
  height: 22px;
  min-width: 22px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
}

[disabled] {
  opacity: 0.3;
}